<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Result</title>
  </head>
  <body>
    <h1>The Winner is <%=win%> with <%=wins%></h1>
    <h1>Against <%= los%> with <%=loss%></h1>
  </body>
</html>
